Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

added s3-proxy chart
  deploy-as-code/helm/charts/backbone-services/s3-proxy/Chart.yaml
  deploy-as-code/helm/charts/backbone-services/s3-proxy/templates/ingress.yaml
  deploy-as-code/helm/charts/backbone-services/s3-proxy/templates/service.yaml
  deploy-as-code/helm/charts/backbone-services/s3-proxy/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

added s3-proxy chart
  deploy-as-code/helm/charts/backbone-services/s3-proxy/templates/ingress.yaml
  deploy-as-code/helm/charts/backbone-services/s3-proxy/templates/service.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

added ifix qa olap services
  deploy-as-code/helm/charts/backbone-services/metabase/templates/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/values.yaml
  deploy-as-code/helm/environments/ifix-qa-secrets.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

IFIX-279 Added chart for mgramseva ifix adaptor
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adaptor/Chart.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adaptor/templates/deployment.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adaptor/templates/ingress.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adaptor/templates/service.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adaptor/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-43
  deploy-as-code/helm/charts/municipal-services/ws-services/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml (#70)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Revert "Update values.yaml (#70)"
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Revert "Update values.yaml (#70)" (#72)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIx-43
  deploy-as-code/helm/charts/municipal-services/ws-services/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-279 chart name corrected
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/Chart.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/templates/deployment.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/templates/ingress.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/templates/service.yaml
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-43
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Moving nginx ingress to NLB
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

nginx namespace change
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

aggregation of dataset deployment changes
  deploy-as-code/helm/charts/reference-dashboard/Chart.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/deployment.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/ingress.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/service.yaml
  deploy-as-code/helm/charts/reference-dashboard/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Added nlb
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-375 deploy to mgram with credentials
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Add keycloak secret
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/keycloak-secret.yaml
  deploy-as-code/helm/charts/cluster-configs/values.yaml
  deploy-as-code/helm/environments/mgramseva-dev-secrets.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Add keycloak secret (#78)
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/keycloak-secret.yaml
  deploy-as-code/helm/charts/cluster-configs/values.yaml
  deploy-as-code/helm/environments/mgramseva-dev-secrets.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update keycloak-secret.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/keycloak-secret.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 values from secrets and context path change
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 deploy to mgram with credentials (#77)
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 enabling ingress
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 disable health check
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 enabling ingress (#79)
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Add keycloak secret in qa
  deploy-as-code/helm/environments/mgramseva-qa-secrets.yaml
Owners: @micro-service-devops

IFIX-375 deploy to qa
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-375 changed missing mgramseva env name
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-375 deploy to qa (#80)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Added the master department host
  deploy-as-code/helm/charts/ifix-services/ifix-master-data-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added the master department host (#81)
  deploy-as-code/helm/charts/ifix-services/ifix-master-data-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

cronjob changes for ifix-353
  deploy-as-code/helm/charts/ifix-services/aggregator/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/deployment.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/ingress.yaml
  deploy-as-code/helm/charts/reference-dashboard/templates/service.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

IFIX-68
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-43 (#75)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-279 overridden mdms host name
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-279 overridden mdms host name (#82)
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-279 Corrected host name
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-279 Corrected host name (#83)
  deploy-as-code/helm/charts/municipal-services/mgramseva-ifix-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 fixing credential issue
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
