Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Updated oauth github team
  deploy-as-code/helm/environments/mgramseva-prod.yaml
Owners: @micro-service-devops

Updated the deep storage type to azure (#17)
  deploy-as-code/helm/charts/backbone-services/druid/templates/configmap.yaml
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/db-secret.yaml
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Disabled sms notifications to mobile (#18)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Updated the SMS service from generic class to Console and enabled it to true (#19)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

change uat config (#20)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Update values.yaml (#22)
  deploy-as-code/helm/charts/municipal-services/echallan-services/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Updated sms provider to generic (#23)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Updated domain
  deploy-as-code/helm/environments/mgramseva-prod.yaml
Owners: @micro-service-devops

Update mgramseva-prod.yaml
  deploy-as-code/helm/environments/mgramseva-prod.yaml
Owners: @micro-service-devops

Updated keycloak secret
  deploy-as-code/helm/environments/mgramseva-uat-secrets.yaml
Owners: @micro-service-devops

adding ifix new credentials (#24)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

added redis-host
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

fixing redis for adapter (#25)
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Disabling SMS (#26)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

ifix cicd setup (#27)
  deploy-as-code/helm/charts/backbone-services/jenkins/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/secrets/jenkins-secret.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
  deploy-as-code/helm/environments/ci.yaml
  infra-as-code/terraform/ifix-cicd/main.tf
  infra-as-code/terraform/ifix-cicd/outputs.tf
  infra-as-code/terraform/ifix-cicd/remote-state/main.tf
  infra-as-code/terraform/ifix-cicd/variables.tf
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update mgramseva-qa.yaml (#28)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

ifix domain changes for prod and uat
  deploy-as-code/helm/environments/ifix-prod.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

modified the NIC domains
  deploy-as-code/helm/environments/mgramseva-prod.yaml
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Added oauth2-proxy
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

Enable oauth2-proxy
  deploy-as-code/helm/charts/backbone-services/druid/templates/router/ingress.yaml
  deploy-as-code/helm/environments/ifix-prod-secrets.yaml
  deploy-as-code/helm/environments/ifix-prod.yaml
  deploy-as-code/helm/environments/ifix-uat-secrets.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update ifix-uat.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

Update ifix-uat.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

Update ifix-prod.yaml
  deploy-as-code/helm/environments/ifix-prod.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#29)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

domain name change (#30)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#31)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#32)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Added docdb module
  infra-as-code/terraform/modules/db/documentdb/aws/main.tf
  infra-as-code/terraform/modules/db/documentdb/aws/outputs.tf
  infra-as-code/terraform/modules/db/documentdb/aws/variables.tf
  infra-as-code/terraform/sample-eks/main.tf
  infra-as-code/terraform/sample-eks/outputs.tf
  infra-as-code/terraform/sample-eks/remote-state/main.tf
  infra-as-code/terraform/sample-eks/variables.tf
Owners: @micro-service-devops

Ifix 53 (#33)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

updated egov-notification-sms secrets
  deploy-as-code/helm/environments/mgramseva-uat-secrets.yaml
Owners: @micro-service-devops

aws kms key updated (#34)
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
  deploy-as-code/helm/environments/ifix-prod-secrets.yaml
  deploy-as-code/helm/environments/ifix-qa-secrets.yaml
  deploy-as-code/helm/environments/ifix-uat-secrets.yaml
Owners: @micro-service-devops

aws kms key's updated (#35)
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/environments/mgramseva-dev-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-prod-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-qa-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-uat-secrets.yaml
Owners: @micro-service-devops

updated containerRegistry
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

updated containerRegistry
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Updated containerRegistry
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Updated containerRegistry
  deploy-as-code/helm/environments/mgramseva-prod.yaml
Owners: @micro-service-devops

Update ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

Update ifix-prod.yaml
  deploy-as-code/helm/environments/ifix-prod.yaml
Owners: @micro-service-devops

Update ifix-qa.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

Update ifix-uat.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
