Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov

Updated the master data search api uri in zuul config for removing the authorization check
  deploy-as-code/helm/charts/ifix-services/ifix-zuul/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Pk ifix (#53)
  deploy-as-code/helm/charts/ifix-services/ifix-zuul/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added the department and Ependiture entity host config
  deploy-as-code/helm/charts/ifix-services/ifix-master-data-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Pk ifix (#54)
  deploy-as-code/helm/charts/ifix-services/ifix-master-data-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Removed unused records
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
Owners: @micro-service-devops

Fixed department entity repo name
  deploy-as-code/helm/charts/ifix-services/ifix-department-entity-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Fixed department entity repo name (#56)
  deploy-as-code/helm/charts/ifix-services/ifix-department-entity-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

removed unnecessary secrets
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
  deploy-as-code/helm/environments/ifix-qa-secrets.yaml
Owners: @micro-service-devops

removed unnecessary secrets (#57)
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
  deploy-as-code/helm/environments/ifix-qa-secrets.yaml
Owners: @micro-service-devops

ws-service qa setup
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

ws-service qa setup (#58)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-323
  deploy-as-code/helm/charts/municipal-services/ws-calculator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-323 (#59)
  deploy-as-code/helm/charts/municipal-services/ws-calculator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

iFix-quickstart
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/charts/common/templates/_deployment.yaml
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-qa-secrets.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
  deploy-as-code/helm/environments/quickstart-config-secrets.yaml
  deploy-as-code/helm/environments/quickstart-config.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-ifix-v1.0.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-quickstart-v2.4.yaml
Owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

iFix-quickstart
  deploy-as-code/egov-deployer/iFix_setup.go
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/.helmignore
  deploy-as-code/helm/charts/backbone-services/kafka/Chart.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/README.md
  deploy-as-code/helm/charts/backbone-services/kafka/templates/_helpers.tpl
  deploy-as-code/helm/charts/backbone-services/kafka/templates/pv.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/templates/scripts-configmap.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/templates/statefulset.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/templates/svc-headless.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/templates/svc.yaml
  deploy-as-code/helm/charts/backbone-services/kafka/values.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/templates/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/values.yaml
  deploy-as-code/helm/charts/backbone-services/postgres/templates/pv.yaml
  deploy-as-code/helm/charts/backbone-services/postgres/templates/pvc.yaml
  deploy-as-code/helm/charts/backbone-services/postgres/values.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/.helmignore
  deploy-as-code/helm/charts/backbone-services/zookeeper/Chart.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/README.md
  deploy-as-code/helm/charts/backbone-services/zookeeper/templates/_helpers.tpl
  deploy-as-code/helm/charts/backbone-services/zookeeper/templates/pv.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/templates/statefulset.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/templates/svc-headless.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/templates/svc.yaml
  deploy-as-code/helm/charts/backbone-services/zookeeper/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/ingress/root-ingress.yaml
  deploy-as-code/helm/charts/common/templates/_ingress.yaml
  deploy-as-code/helm/environments/quickstart-config-secrets.yaml
  deploy-as-code/helm/environments/quickstart-config.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-quickstart-v2.4.yaml
Owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update _ingress.yaml
  deploy-as-code/helm/charts/common/templates/_ingress.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update root-ingress.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/ingress/root-ingress.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

iFix-quickstart
  deploy-as-code/helm/charts/common/templates/_ingress.yaml
  deploy-as-code/helm/environments/quickstart-config-secrets.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-quickstart-v2.4.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

iFix quickstart secrets
  deploy-as-code/helm/environments/quickstart-config-secrets.yaml
Owners: @micro-service-devops

IFIX-359 deploy ifix adaptor to mgramseva
  deploy-as-code/helm/charts/ifix-reference-adapter/Chart.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/deployment.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/ingress.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/service.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

IFIX-359 deploy ifix adaptor to mgramseva (#60)
  deploy-as-code/helm/charts/ifix-reference-adapter/Chart.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/deployment.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/ingress.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/templates/service.yaml
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

IFIX-359 aligning common directory location
  deploy-as-code/helm/charts/ifix-reference-adapter/Chart.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 change in common folder
  deploy-as-code/helm/charts/ifix-reference-adapter/Chart.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 change in common folder (#62)
  deploy-as-code/helm/charts/ifix-reference-adapter/Chart.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 fixing tab issue in dev.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-359 fixing tab issue in dev.yaml (#63)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-359 delete empty line
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-359 delete empty line (#64)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

IFIX-359 remove db invalid ref
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 remove db invalid ref (#65)
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 adding kafka topic
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 adding kafka topic (#66)
  deploy-as-code/helm/charts/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-359 fixing health check
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Update iFix_setup.go
  deploy-as-code/egov-deployer/iFix_setup.go
Owners: @micro-service-devops

IFIX-359 fixing health check (#67)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Moved ifix chart to ifix-services
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/templates/deployment.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/templates/ingress.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/templates/service.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Synced the dev config with QA config
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

Synced the dev config with QA config (#68)
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

Update mgramseva-dev.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops
