Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov

Update dependancy_chart-mGramSeva-v1.0.yaml
  deploy-as-code/helm/iFix-release-versions/dependancy_chart-mGramSeva-v1.0.yaml
Owners: @micro-service-devops

Update dependancy_chart-mGramSeva-v1.0.yaml (#113)
  deploy-as-code/helm/iFix-release-versions/dependancy_chart-mGramSeva-v1.0.yaml
Owners: @micro-service-devops

Update clusterroles.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/rbac/clusterroles.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update clusterroles.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/rbac/clusterroles.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

mgramseva deployment in azure
  deploy-as-code/helm/charts/backbone-services/postgres/templates/pv.yaml
  deploy-as-code/helm/charts/backbone-services/postgres/values.yaml
  deploy-as-code/helm/charts/cluster-configs/values.yaml
  deploy-as-code/helm/charts/core-services/egov-localization/values.yaml
  deploy-as-code/helm/charts/core-services/egov-url-shortening/values.yaml
  deploy-as-code/helm/charts/core-services/zuul/values.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
  deploy-as-code/helm/iFix-release-versions/dependancy_chart-mGramSeva-v1.0.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

aks tf
  infra-as-code/terraform/aks-ifix-dev/main.tf
  infra-as-code/terraform/aks-ifix-dev/variables.tf
  infra-as-code/terraform/modules/kubernetes/azure/main.tf
  infra-as-code/terraform/modules/node-pool/azure/main.tf
Owners: @micro-service-devops

iFix deployment in azure
  deploy-as-code/helm/charts/backbone-services/postgres/templates/pv.yaml
  deploy-as-code/helm/charts/backbone-services/postgres/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-ifix-v1.0.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

nginx ns update
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

ifix cert-manager related changes
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/values.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/ingress/root-ingress.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

cert-manager related changes
  deploy-as-code/helm/charts/cluster-configs/templates/ingress/root-ingress.yaml
  deploy-as-code/helm/charts/core-services/egov-user/egov-user-values.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

tf and oauth2-proxy changes
  deploy-as-code/helm/environments/mgramseva-dev-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-dev.yaml
  infra-as-code/terraform/aks-ifix-dev/main.tf
  infra-as-code/terraform/aks-ifix-dev/variables.tf
Owners: @micro-service-devops

adding node affinity and toleration to druid, metabase
  deploy-as-code/helm/charts/backbone-services/druid/templates/broker/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/druid/templates/coordinator/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/druid/templates/historical/statefulset.yaml
  deploy-as-code/helm/charts/backbone-services/druid/templates/middleManager/statefulset.yaml
  deploy-as-code/helm/charts/backbone-services/druid/templates/overlord/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/druid/templates/router/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/templates/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/superset/templates/deployment-beat.yaml
  deploy-as-code/helm/charts/backbone-services/superset/templates/deployment-worker.yaml
  deploy-as-code/helm/charts/backbone-services/superset/templates/deployment.yaml
  deploy-as-code/helm/charts/backbone-services/superset/templates/init-job.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

mongo db uri
  deploy-as-code/helm/environments/ifix-dev-secrets.yaml
Owners: @micro-service-devops

Update ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

Added SPRING_REDIS_HOST env
  deploy-as-code/helm/charts/ifix-services/ifix-zuul/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

added service redis host
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

Update dependancy_chart-mGramSeva-v1.0.yaml
  deploy-as-code/helm/iFix-release-versions/dependancy_chart-mGramSeva-v1.0.yaml
Owners: @micro-service-devops

Update dependancy_chart-ifix-v1.0.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-ifix-v1.0.yaml
Owners: @micro-service-devops

Update dependancy_chart-ifix-v1.0.yaml
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-ifix-v1.0.yaml
Owners: @micro-service-devops

mgramseva qa deployment
  deploy-as-code/helm/charts/backbone-services/oauth2-proxy/templates/configmap.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
  deploy-as-code/helm/iFix-release-versions/dependancy_chart-mGramSeva-v1.0.yaml
  infra-as-code/terraform/aks-ifix-qa/main.tf
  infra-as-code/terraform/aks-ifix-qa/outputs.tf
  infra-as-code/terraform/aks-ifix-qa/variables.tf
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update values.yaml
  deploy-as-code/helm/charts/core-services/egov-localization/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

qa deployment in azure
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Phanikiran wtt egov patch 6 (#3)
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/failedbulkdemand-values.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/fortnightevening-values.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/monthly-values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update mgramseva-qa.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-53 (#4)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-53 (#5)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-53 (#6)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

mGramSeva QA envronment is not picking changes form new repos (#7)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

eks tf
  infra-as-code/terraform/sample-eks/main.tf
  infra-as-code/terraform/sample-eks/outputs.tf
  infra-as-code/terraform/sample-eks/providers.tf
  infra-as-code/terraform/sample-eks/remote-state/main.tf
  infra-as-code/terraform/sample-eks/variables.tf
Owners: @micro-service-devops

changing the job name from daily to daily evening (#9)
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

reverting the sms config in QA (#10)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

added es host for ws service. (#11)
  deploy-as-code/helm/charts/municipal-services/ws-services/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Ifix 655 (#12)
  deploy-as-code/helm/charts/business-services/collection-services/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

url change. (#13)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Mgramseva UAT/PROD deployment (#14)
  deploy-as-code/helm/environments/mgramseva-prod-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-prod.yaml
  deploy-as-code/helm/environments/mgramseva-uat-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-uat.yaml
  infra-as-code/terraform/ifix-prod/main.tf
  infra-as-code/terraform/ifix-prod/outputs.tf
  infra-as-code/terraform/ifix-prod/providers.tf
  infra-as-code/terraform/ifix-prod/remote-state/main.tf
  infra-as-code/terraform/ifix-prod/variables.tf
  infra-as-code/terraform/ifix-uat/main.tf
  infra-as-code/terraform/ifix-uat/outputs.tf
  infra-as-code/terraform/ifix-uat/providers.tf
  infra-as-code/terraform/ifix-uat/remote-state/main.tf
  infra-as-code/terraform/ifix-uat/variables.tf
Owners: @micro-service-devops

Uat ifix (#15)
  deploy-as-code/egov-deployer/ifix_setup.go
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/values.yaml
  deploy-as-code/helm/environments/ifix-prod-secrets.yaml
  deploy-as-code/helm/environments/ifix-prod.yaml
  deploy-as-code/helm/environments/ifix-uat-secrets.yaml
  deploy-as-code/helm/environments/ifix-uat.yaml
Owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Updated oauth2-proxy secrets
  deploy-as-code/helm/environments/mgramseva-prod-secrets.yaml
  deploy-as-code/helm/environments/mgramseva-uat-secrets.yaml
Owners: @micro-service-devops

Rearranged keycloak and removed duplicate service (#16)
  deploy-as-code/helm/ifix-release-versions/dependancy_chart-ifix-v1.0.yaml
Owners: @micro-service-devops

updated oauth github team
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops
