Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-375 fixing credential issue (#84)
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Water Bill PDF path configuration
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

ws bill config for pdf-service
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

ws bill config for pdf-service (#85)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-78
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Receipt PDF's added to the Environment
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-78 (#86)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

formatting issue IFIX-78
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

formatting issue IFIX-78 (#87)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

changes for renaming to fiscal-event-aggregator
  deploy-as-code/helm/charts/ifix-services/aggregator/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

adding default values
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

aggregation of dataset deployment changes (#76)
  deploy-as-code/helm/charts/ifix-services/aggregator/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Changing topic name
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

adding default values
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update values.yaml
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

adding default values in values.yaml (#88)
  deploy-as-code/helm/charts/ifix-services/aggregator/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Renaming aggregator to fiscal-event-aggregator
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Renaming aggregator to fiscal-event-aggregator (#89)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

updated rbac
  deploy-as-code/helm/charts/cluster-configs/templates/rbac/clusterroles.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

added qa s3 bucket name
  deploy-as-code/helm/charts/backbone-services/druid/templates/configmap.yaml
  deploy-as-code/helm/charts/backbone-services/druid/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update values.yaml
  deploy-as-code/helm/charts/backbone-services/metabase/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

adding url shortener host path
  deploy-as-code/helm/charts/municipal-services/ws-calculator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

adding url shortener host path (#90)
  deploy-as-code/helm/charts/municipal-services/ws-calculator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added the mongo config
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added the mongo config (#91)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-43
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-43 (#92)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Added the envn var for fiscal event aggregate
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added the envn var for fiscal event aggregate (#93)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

common temp for job
  deploy-as-code/helm/charts/common/templates/_job.yaml
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

addin ws payment search to whitelist
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

addin ws payment search to whitelist
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Phanikiran wtt egov patch 6 (#94)
  deploy-as-code/helm/environments/mgramseva-dev.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Initial commit for mongodb kafka source connector
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/templates/job.yaml
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Configured the topic environment for fiscal env
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Initial commit for mongodb kafka source connector (#95)
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/templates/job.yaml
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

renamed the env var name
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
