Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov

Jenkins deployment
  deploy-as-code/helm/charts/backbone-services/jenkins/values.yaml
  deploy-as-code/helm/environments/ci.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Update mgramseva-qa.yaml (#36)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update kms key for ci
  deploy-as-code/helm/.sops.yaml
  deploy-as-code/helm/environments/ci-secrets.yaml
Owners: @micro-service-devops

added qa deploy jobs
  deploy-as-code/helm/charts/backbone-services/jenkins/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update mgramseva-qa.yaml (#37)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#38)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#39)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#41)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#42)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

added properties for NIC testing. (#43)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

upgraded the rate limit
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Uat cleanup (#45)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Update mgramseva-uat.yaml (#46)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops

Update root-ingress.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/ingress/root-ingress.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update mgramseva-uat.yaml (#47)
  deploy-as-code/helm/environments/mgramseva-uat.yaml
Owners: @micro-service-devops
