Repository egovernments/iFix-DevOps, changes with the owners that CODEOWNERS names for each.
All owners: @micro-service-devops, @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Topic env config (#96)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-service/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

configured the topic name for post processor
  deploy-as-code/helm/charts/ifix-services/fiscal-event-post-processor/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

Topic env config (#97)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-post-processor/values.yaml
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov, @micro-service-devops

kafka bootstrap server configuration fix
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

kafka bootstrap server configuration fix (#98)
  deploy-as-code/helm/charts/ifix-services/mongodb-kafka-source-connector/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Code change to receive message in hindi and punjabi.
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Code change to receive message in hindi and punjabi. (#99)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

IFIX-406: change related to mType for SMS notification
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Updated druid-host address
  deploy-as-code/helm/environments/ifix-dev.yaml
Owners: @micro-service-devops

Update ifix-qa.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

configured the druid details
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Druid host address (#101)
  deploy-as-code/helm/environments/ifix-dev.yaml
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

configured the druid details (#102)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Remove init container from the aggregator cron job
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Remove init container from the aggregator cron job (#103)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

removed tag
  deploy-as-code/helm/charts/common/templates/_cronjob.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added env param
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

updated the env param's
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added schema table name
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Common cronjob cron_apptype (#105)
  deploy-as-code/helm/charts/common/templates/_cronjob.yaml
  deploy-as-code/helm/charts/common/values.yaml
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Fixed table names
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Fixed table names (#106)
  deploy-as-code/helm/charts/ifix-services/fiscal-event-aggregator/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml (#107)
  deploy-as-code/helm/charts/common/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Updated missing config from dev to QA
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

Updated missing config from dev to QA (#108)
  deploy-as-code/helm/environments/ifix-qa.yaml
Owners: @micro-service-devops

IFIX-418 adding scheduler config
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added chart values and cronjob yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/Chart.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/templates/cronjob.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Added chart values and cronjob yaml (#110)
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/Chart.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/templates/cronjob.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

common cronjob temp arg changes
  deploy-as-code/helm/charts/common/templates/_cronjob.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update _cronjob.yaml
  deploy-as-code/helm/charts/common/templates/_cronjob.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update values.yaml
  deploy-as-code/helm/charts/utilities/mdms-read-cronjob/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Update clusterroles.yaml
  deploy-as-code/helm/charts/cluster-configs/templates/rbac/clusterroles.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

Changes to give master build
  deploy-as-code/helm/environments/mgramseva-dev.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

Update mgramseva-qa.yaml (#112)
  deploy-as-code/helm/environments/mgramseva-qa.yaml
Owners: @micro-service-devops

azure node pool
  infra-as-code/terraform/aks-ifix-dev/main.tf
  infra-as-code/terraform/aks-ifix-dev/outputs.tf
  infra-as-code/terraform/aks-ifix-dev/variables.tf
  infra-as-code/terraform/modules/kubernetes/azure/main.tf
  infra-as-code/terraform/modules/kubernetes/azure/output.tf
  infra-as-code/terraform/modules/node-pool/aws/main.tf
  infra-as-code/terraform/modules/node-pool/aws/output.tf
  infra-as-code/terraform/modules/node-pool/aws/variable.tf
  infra-as-code/terraform/modules/node-pool/azure/main.tf
  infra-as-code/terraform/modules/node-pool/azure/output.tf
  infra-as-code/terraform/modules/node-pool/azure/variable.tf
Owners: @micro-service-devops

IFIX-418 correct name
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/Chart.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

IFIX-418 adding scheduler config (#109)
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/Chart.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/templates/cronjob.yaml
  deploy-as-code/helm/charts/ifix-services/ifix-reference-adapter-cron/values.yaml
Owners: @rushang7-eGov, @eGovMan, @GhanshyamRawat-eGov

CODEOWNERS:

* @micro-service-devops
*.yaml @micro-service-devops

##Internal Env####
deploy-as-code/helm/charts/ @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
deploy-as-code/helm/environments/dashboard-dev*.yaml @rushang7-eGov @eGovMan @GhanshyamRawat-eGov
